.main-article-title {
	font-size: 2em;
	font-weight: bold;
}

.main-article-category, .author-name:hover {
	color: rgba(0,0,0,0.4);
}

.main-article-category:hover, .main-article-title:hover, .author-name, .sub-article-title:hover, .sub-article-category:hover, .demo-link:hover {
	text-decoration: underline;
}

footer {
	color: #ffffff;
	background-color: #343a40;
}

.sub-article-title {
	font-size: 1.5em;
	font-weight: bold;
}

.recent-articles {
	font-size: 1.7em;
	font-weight: bold;
}

.sub-article-category, .sub-article-date {
	color: rgba(0,0,0,0.4);
	font-size: 0.8em;
}

.sub-article-author {
	text-decoration: underline;
	font-size: 0.8em;
}

.demo-link {
	color: blue;
}

.sponsor {
	font-weight: bold;
	color: rgba(0,0,0,0.4);
}